

.dashboard-page {
  min-height: 100vh;
  display: flex;
  background:
    radial-gradient(circle at top left,
      rgba(30, 90, 50, 0.15),
      transparent 30%),
    #07110d;
  color: white;
  font-family: "Inter", sans-serif;
}



.sidebar{
  width:260px;
  min-width:260px;
  min-height:100vh;

  background:
  rgba(0,0,0,0.25);

  backdrop-filter:blur(20px);

  border-right:
  1px solid
  rgba(255,255,255,0.08);

  padding:25px 18px;

  display:flex;
  flex-direction:column;

  transition:all 0.4s ease;
  position:relative;
}

.sidebar.collapsed{
  width:90px;
  min-width:90px;
}
.collapse-btn{
  position:absolute;

  top:25px;
  right:-15px;

  width:32px;
  height:32px;

  border-radius:50%;

  border:none;

  background:#102016;

  color:#84e19f;

  cursor:pointer;

  z-index:10;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom:45px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color:white;
  display: flex;
  align-items: center;
  gap: 12px;
}

.collapse-btn{
  position:absolute;
  top:25px;
  right:-52px;

  width:35px;
  height:35px;

  border-radius:50%;
  border:none;

  background:#102016;
  color:#84e19f;

  cursor:pointer;
  z-index:100;
  transition:0.3s ease;
}

.collapse-btn:hover{
  background:
  rgba(132,225,159,0.2);

  transform:scale(1.1);
}

.sidebar-menu{
  list-style:none;
  padding:0;

  display:flex;
  flex-direction:column;
  gap:14px;
}

.sidebar-menu li{
  display:flex;
  align-items:center;
  gap:15px;

  padding:16px 18px;

  border-radius:18px;

  color:#d4d4d4;

  cursor:pointer;

  transition:0.3s;
}

.sidebar-menu li:hover{
  background:
  rgba(255,255,255,0.05);

  color:white;
}

.sidebar-menu .active {
  background:
    linear-gradient(
      90deg,
      rgba(37,94,56,0.9),
      rgba(157,228,143,0.08)
    );

  color: #9de48f;

  box-shadow:
    0 0 25px
    rgba(157,228,143,0.12);
}

.sidebar.collapsed
.sidebar-menu li{
  justify-content:center;
  padding:16px 0;
}

.sidebar.collapsed
.logo{
  justify-content:center;
}



.upgrade-card {
  margin-top: 45px;

  padding: 22px;

  border-radius: 22px;

  background: rgba(255,255,255,0.025);

  border:
    1px solid
    rgba(157,228,143,0.08);
}

.upgrade-card h3 {
  color: #9de48f;
}

.upgrade-card p {
  margin-top: 12px;
  color: #8c8c8c;
  line-height: 1.7;
}

.upgrade-card button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;

  border-radius: 15px;

  border: none;

  background:
    linear-gradient(
      90deg,
      #2c7a43,
      #8de07f
    );

  color: #08110D;
  font-weight: 700;

  transition: .3s;
}

.upgrade-card button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 25px
    rgba(157,228,143,.25);
}


.sidebar-user{
  margin-top:auto;

  display:flex;
  align-items:center;
  gap:12px;

  padding:14px;

  border-radius:16px;

  background:
  rgba(255,255,255,0.03);
}

.sidebar-user img{
  width:45px;
  height:45px;

  border-radius:50%;
  object-fit:cover;
}

.sidebar-user h4{
  margin:0;
  color:white;
  font-size:0.95rem;
}

.sidebar-user p{
  margin-top:4px;
  color:#a5a5a5;
  font-size:0.8rem;
}

.sidebar.collapsed
.sidebar-user{
  justify-content:center;
}

.sidebar.collapsed
.sidebar-user{
  background:none;
  padding:0;
}

.logo span,
.sidebar-menu li span,
.sidebar-user div{
  transition:0.3s;
}



.main-content {
  flex: 1;
  padding: 24px 30px;
  overflow-y: auto;
}


.top-navbar {
  display: flex;
 
  padding:10px 0;
}

.top-navbar input {
  width: 480px;
  height: 54px;

  padding: 0 22px;

  border-radius: 18px;

  border:
    1px solid
    rgba(157,228,143,0.08);

  background:
    rgba(255,255,255,0.03);

  color: white;

  outline: none;

  transition: .3s;
}

.top-navbar input:focus {
  border-color:
    rgba(157,228,143,.4);

  box-shadow:
    0 0 20px
    rgba(157,228,143,.08);
}

.top-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top-user {
  margin-left:auto;

  display:flex;
  align-items:center;
  gap:8px;
}

.top-user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}



.greeting-section {
  margin-top: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting-section h1 {
  font-size: 3rem;
  font-weight: 700;
}

.greeting-section p {
  margin-top: 8px;
  color: #8a8a8a;
}

.greeting-section button {
  padding: 15px 28px;

  border: none;
  border-radius: 15px;

  background:
    rgba(157,228,143,0.1);

  color: #9de48f;

  transition: .3s;
}

.greeting-section button:hover {
  background:
    rgba(157,228,143,0.18);

  transform:
    translateY(-3px);
}


.dashboard-grid {
  margin-top: 30px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 22px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}



.stats-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 18px;
}

.stat-card {
  padding: 24px;

  border-radius: 20px;

  background:
    rgba(255,255,255,.025);

  border:
    1px solid
    rgba(157,228,143,.08);

  transition: .3s;
}

.stat-card:hover {
  transform: translateY(-6px);

  border-color:
    rgba(157,228,143,.3);

  box-shadow:
    0 0 30px
    rgba(157,228,143,.08);
}

.stat-card h2 {
  font-size: 2.6rem;
  color: #9de48f;
}

.stat-card p {
  margin-top: 10px;
  color: #8a8a8a;
}



.weekly-goals,
.roadmap-card,
.recommended,
.progress-card,
.github-card,
.streak-card,
.tasks-card,
.quote-card {
  background:
    rgba(255,255,255,.025);

  border:
    1px solid
    rgba(157,228,143,.08);

  border-radius: 22px;

  padding: 24px;

  backdrop-filter: blur(20px);

  transition: .3s;
}

.weekly-goals:hover,
.roadmap-card:hover,
.recommended:hover,
.progress-card:hover,
.github-card:hover,
.streak-card:hover,
.tasks-card:hover,
.quote-card:hover {
  border-color:
    rgba(157,228,143,.25);

  box-shadow:
    0 0 35px
    rgba(157,228,143,.08);
}



.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title span {
  color: #9de48f;
  cursor: pointer;
}

.section-title span:hover {
  opacity: .8;
}



.goal-item {
  margin-top: 14px;

  padding: 15px 18px;

  border-radius: 14px;

  background:
    rgba(255,255,255,.03);

  transition: .3s;
}

.goal-item:hover {
  background:
    rgba(157,228,143,.05);
}


.roadmap-card p {
  margin-top: 15px;
  color: #8a8a8a;
  line-height: 1.7;
}

.roadmap-card button {
  margin-top: 30px;

  padding: 16px 35px;

  border: none;
  border-radius: 16px;

  background:
    linear-gradient(
      90deg,
      #2c7a43,
      #8de07f
    );

  color: #08110D;
  font-weight: 700;

  transition: .3s;
}

.roadmap-card button:hover {
  transform:
    translateY(-4px);

  box-shadow:
    0 0 30px
    rgba(157,228,143,.25);
}



.resources-grid {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
}

.resource-card {
  padding: 20px;

  border-radius: 18px;

  background:
    rgba(255,255,255,.03);

  border:
    1px solid
    rgba(157,228,143,.08);

  transition: .3s;
}

.resource-card:hover {
  transform: translateY(-5px);

  border-color:
    rgba(157,228,143,.25);

  box-shadow:
    0 0 25px
    rgba(157,228,143,.08);
}



.github-card img {
  width: 90px;
  height: 90px;

  margin: 22px 0;

  border-radius: 50%;

  border:
    3px solid
    rgba(157,228,143,.2);
}

.github-stats {
  margin-top: 25px;

  display: flex;
  justify-content: space-between;
}

.github-stats p {
  color: #8a8a8a;
}



.days {
  margin-top: 25px;

  display: flex;
  justify-content: space-between;
}

.days span {
  width: 36px;
  height: 36px;

  border-radius: 50%;

  background:
    rgba(157,228,143,.08);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #9de48f;

  transition: .3s;
}

.days span:hover {
  background:
    rgba(157,228,143,.18);

  transform:
    scale(1.1);
}



.tasks-card p {
  margin-top: 18px;
  color: #bdbdbd;
}



.quote-card {
  background:
    linear-gradient(
      180deg,
      rgba(18,58,33,.7),
      rgba(7,17,13,.9)
    );
}

.quote-card p {
  margin-top: 18px;
  color: #d6d6d6;
  line-height: 1.8;
}



.chart-placeholder {
  height: 320px;

  margin-top: 25px;

  border-radius: 20px;

  border:
    2px dashed
    rgba(157,228,143,.15);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #808080;
}

.goals-roadmap{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.phase-card{
  background:rgba(255,255,255,0.03);
  border:1px solid rgba(255,255,255,0.08);
  border-radius:18px;
  padding:18px;
  margin-top:20px;

  display:flex;
  flex-direction:column;
  gap:14px;

  backdrop-filter:blur(10px);
  transition:0.3s;
}

.phase-card:hover{
  transform:translateY(-4px);

  border-color:#84e19f;

  box-shadow:
  0px 8px 25px
  rgba(132,225,159,0.15);
}

.phase-card h3{
  color:#84e19f;
  font-size:0.9rem;
  font-weight:600;
  margin:0;
}

.phase-card ul{
  list-style:none;
  padding:0;
  margin:0;

  display:flex;
  flex-direction:column;
  gap:10px;
}

.phase-card li{
  color:#d0d0d0;
  font-size:0.95rem;

  display:flex;
  align-items:center;
  gap:10px;
}

.phase-card li::before{
  content:"✓";
  color:#84e19f;
  font-weight:bold;
}

.project{
  padding-top:12px;

  border-top:
  1px solid
  rgba(255,255,255,0.08);

  color:#bdbdbd;
  font-size:0.9rem;
  line-height:1.5;
}

.days span{
  width:45px;
  height:45px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  rgba(255,255,255,0.05);
}

.visited{
  background: rgba(132,225,159,0.35);
  color: #d6ffe1;

  box-shadow:
    0 0 18px rgba(132,225,159,0.45);
}

.quote-icon{
  color:#84e19f;
  font-size:2rem;
}

.stat-card.clickable{
  cursor: pointer;
  transition: 0.3s ease;
}

.stat-card.clickable:hover{
  transform: translateY(-5px);
  border: 1px solid #84e19f;
  box-shadow: 0 12px 30px rgba(132,225,159,0.15);
}

.user-info{
  min-width: 0;
}

.user-info p{
  font-size: 0.75rem;
  color: #9aa0a6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===========================
   Weekly Goals & Tasks
=========================== */

.goal-input-box,
.task-input-box{
    display:flex;
    gap:12px;
    margin:18px 0 22px;
}

.goal-input-box input,
.task-input-box input[type="text"]{
    flex:1;
    padding:12px 16px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#1b1d1f;
    color:white;
    font-size:15px;
    border:1px solid rgba(255,255,255,0.08);
    transition:.3s;
}

.goal-input-box input:focus,
.task-input-box input[type="text"]:focus{
    border-color:#6bbf8f;
    box-shadow:0 0 12px rgba(107,191,143,.25);
}

.goal-input-box button,
.task-input-box button{
    background:#6bbf8f;
    color:white;
    border:none;
    padding:0 22px;
    border-radius:12px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.goal-input-box button:hover,
.task-input-box button:hover{
    background:#58ab7d;
    transform:translateY(-2px);
}

.goal-item,
.task-item{
    display:flex;
    align-items:center;
    gap:14px;
    background:#1b1d1f;
    padding:14px 18px;
    border-radius:14px;
    margin-bottom:12px;
    border:1px solid rgba(255,255,255,.05);
    transition:.3s;
}

.goal-item:hover,
.task-item:hover{
    border-color:#6bbf8f;
    transform:translateY(-2px);
}

.goal-item input[type="checkbox"],
.task-item input[type="checkbox"]{
    width:18px;
    height:18px;
    accent-color:#6bbf8f;
    cursor:pointer;
}

.goal-item span,
.task-item span{
    flex:1;
    color:#e8e8e8;
    font-size:15px;
}

.goal-item button,
.task-item button{
    width:34px;
    height:34px;
    border:none;
    border-radius:10px;
    background:rgba(255,70,70,.12);
    color:#ff6868;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.goal-item button:hover,
.task-item button:hover{
    background:#ff4d4d;
    color:white;
}

.goal-item span[style],
.task-item span[style]{
    opacity:.65;
}