/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root sizes */

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* Body */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #08110D;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Buttons */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Inputs */

input,
button,
textarea,
select {
  font: inherit;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists */

ul,
ol {
  list-style: none;
}